body {
  background-color: #2f3d4e;
  color: white;
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

paperquik-app {
  display: block;
}

pq-menu {
  display: block;
  margin-bottom: 10px;
}

pq-menu img {
  width: 25px;
  margin-right: 4px;
  position: relative;
  top: 3px;
}

nav {
  background-color: #bf5a16;
  color: white;
}

.panel {
  background-color: #4e5d6c;
}

.panel-heading {
  padding: 10px 15px 10px 15px;
  background-color: #485563;
}

.panel-heading h2 {
  font-size: 32px;
  font-weight: 300;
}

.panel-body {
  padding: 15px;
}

/* SVG styling */
rect.background {
  fill: none;
}

svg .logo {
  font-family: 'Roboto Slab';
  font-size: 0.5mm;
}

print-preview {
  rect.background {
    fill: white;
  }
}

@media print {
  @page {
    size: letter landscape;
    margin: 0;
  }

  html, body {
    margin: 0 !important;
    padding: 0 !important;
    overflow: hidden;
  }

  div.container {
    all: revert;
  }
}